.actividad{
    height: 200px;
    width: 200px;
    border-color: black;
    border: 200px ;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;


}

.envuelveActividad{
    height: 250px;
    width: 250px;
}
h1{
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: x-large;
}
h3{
    display: flex;
    justify-content: center;
}

p{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#miNombre{
    height: 60px;
    width: 100%;
    background-color: hwb(0 70% 29%);
    border: 1px;
    border-style: solid;
    border-color: rgb(235, 228, 228);
}
#quienSoy{
    height: 60px;
    width: 100%;
    background-color: rgb(201, 193, 193);
    border: 1px;
    border-style: solid;
    border-color: rgb(235, 228, 228);
}
#misTecnologiasFavoritas{
    height: 400px;
    width: 100%;
    background-color: rgb(172, 173, 177);
    border: 1px;
    border-style: solid;
    border-color: rgb(235, 228, 228);

}
#imagenesTecnologiasFavoritas{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.imgTech{
    height : 100px;
    width : 100px;
    padding :  50px;
}
.img{
   /* padding:auto;*/
    border:4px;
    border-style:solid;
    border-color:black;
}

#misActividadesFavoritas{
    height: 70px;
    width: 100%;
    background-color: rgb(145, 150, 177);
    border: 1px;
    border-style: solid;
    border-color: rgb(235, 228, 228);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#contenedorAcptividadesFavoritas{
    height: 300px;
    width: 100%;
    background-color: rgb(184, 187, 214);
    border: 1px;
    border-style: solid;
    border-color: rgb(235, 228, 228);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: scroll;
}



